@import url('https://fonts.googleapis.com/css?family=Nunito:800i&display=swap');

:root {
  --body_background: url("../images/background_light.png");
  --box_background: lightyellow;
  --buttons_background: #3ed81f;
  --text_color: black;
  --lern_table_background: rgb(250, 250, 190);
  --close_backgrouund: red;
  --loading_background: linear-gradient(to right, #eee 20%, #ddd 50%, #eee 80%);
  --color_picker_border: black;

  --box_light: rgba(255, 255, 255, 0);
  --progress_bar_background: rgb(192, 192, 192);
  --progress: rgb(116, 194, 92);
  --progress_bar_color: white;
}

[data-theme="dark"] {
  --body_background: url("../images/background_dark.png");
  --box_background: #292d2e;
  --buttons_background: #35ab1d;
  --text_color: white;
  --lern_table_background: #232323;
  --close_backgrouund: #4f5152;
  --loading_background: linear-gradient(to right, #777 20%, #646464 50%, #777 80%);
  --color_picker_border: #ccc;
  /* --box_light: rgba(255, 255, 255, 0) */
}

.dev-tools {
  display: none;
  position: absolute;
  left: 5px;
  color: var(--text_color);
  z-index: 100;
  top: 5px;
}

.dev-tools>*>div.wrapper {
  position: unset;
}

/* * {
    box-sizing: border-box;
  } */
body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: var(--body_background);
  font-family: 'Nunito', sans-serif;
}

.theme {
  position: absolute;
  top: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.box {
  filter: drop-shadow(0 0 0.75rem var(--box_light));
  width: 75%;
  height: 300px;
  background-color: var(--box_background);
  margin-top: 50px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  word-break: break-word;
  text-align: center;
}

.confirm {
  margin-top: 10px;
  width: 25%;
  height: 45px;
  border: 0;
  border-radius: 30px;
  background-color: var(--buttons_background);
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Nunito', sans-serif;
}

.confirm a {
  color: white;
}

.arrow_back {
  position: absolute;
  top: 6%;
  left: 3%;
}

.menu {
  position: absolute;
  top: 6%;
  color: var(--text_color);
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 10px;
  width: calc(100% - 6% - 80px);
}

table tr:first-child th:first-child {
  border-top-left-radius: 10px;
}

/* top-right border-radius */
table tr:first-child th:last-child {
  border-top-right-radius: 10px;
}

/* bottom-left border-radius */
table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

/* bottom-right border-radius */
table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

.close {
  position: fixed;
  top: 0px;
  width: 45px;
  background: var(--close_backgrouund);
  height: 45px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  align-items: center;
  margin-top: 5px;
  cursor: pointer;
}

.progress-bar {
  position: absolute;
  top: 6%;
  background: var(--progress_bar_background);
  width: 80%;
  border-radius: 15px;
  overflow: hidden;
}

.progress {
  background-color: var(--progress);
  color: var(--progress_bar_color);
  text-align: right;
  font-size: 20px;
  border-radius: 15px;
  white-space: pre;
  transition: 1s;
}

.error {
  font-size: 20px;
  color: red;
}

form.limit {
  position: absolute;
  color: var(--text_color);
}
input.limit {
  width: 60px;
}
.search {
  background: var(--box_background);
  color: var(--text_color);
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
  width: 35%;
  height: 35px;
  border-radius: 30px;
  outline: none;
  padding-right: 10px;
  border: 1px black solid;
  background-image: url("../images/searchicon.svg");
  background-position: 10px 7px;
  background-repeat: no-repeat;
  padding-left: 40px;
  margin-top: 10px;
}
/* Checkbox */
.toggler-wrapper {
	display: block;
	width: 45px;
	height: 25px;
	cursor: pointer;
	position: relative;
}

.toggler-wrapper input[type="checkbox"] {
	display: none;
}

.toggler-wrapper input[type="checkbox"]:checked+.toggler-slider {
	background-color: #44cc66;
}

.toggler-wrapper .toggler-slider {
	background-color: #ccc;
	position: absolute;
	border-radius: 100px;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
}

.toggler-wrapper .toggler-knob {
	position: absolute;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
}
/*Style 21*/

.toggler-wrapper.style-21 input[type="checkbox"]:checked+.toggler-slider .toggler-knob {
	left: calc(100% - 19px - 3px);
}

.toggler-wrapper.style-21 .toggler-slider {
	background-color: #eb4f37;
}

.toggler-wrapper.style-21 .toggler-knob {
	width: calc(25px - 6px);
	height: calc(25px - 6px);
	border-radius: 50%;
	left: 3px;
	top: 3px;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: center;
}

@media screen and (max-width: 600px) {

  /* main */
  div.box {
    width: 95%;
    height: 65vh;
  }

  div.quiz-box {
    height: 38vh;
  }

  p.menu {
    font-size: 24px;
  }

  .confirm {
    width: 50%;
  }
  .search {
    width: 80%;
  }

  /* ThemeSwitch */
  div.wrapper {
    zoom: 26%;
    right: 4%;
  }

  /* Learn */
  div.next_prev_btns {
    width: 80%;
  }

  /* LearnTable, QuizLogTable */
  div.list,
  div.log {
    width: 90%;
  }

  table.logTable>tr>th {
    font-size: 17px;
  }

  table.logTable>tr>td {
    font-size: 15px;
  }

  /* Quiz */
  form.userOdp {
    width: 80%;
  }

  /* Ustawienia */
  a.arrow_back {
    top: 5%;
  }

  /* EditQuiz */
  td.action span {
    display: block;
    width: 100%;
  }
}